* {box-sizing: border-box;}

body { 
  margin-left: 15%;
  margin-right: 15%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #383838;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  width: 70%;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px; 
  line-height: 25px;
  border-radius: 2px;
  margin-right:5px ;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

#pitsa{
  width: 100px;
  height: auto;
}

.header a:hover {
  
  color: #7F7F7F;

}

.header a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 60px;
}
.header a:hover::after {
  width: 80px;
  height: 2px;
  background-color: #fff;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  margin-top: 30px;
  margin-left: 20px;
  float:inline-start;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.filleri{
    margin-top: 200px;
    background-color: white;
    height: 300px;
    width:  100%;
    /*background-image: url("kuvat/pizza-ingredients-background-linear-graphic-tomato-garlic-basil-olive-pepper-mushroom-leaf-seamless-pattern_84749-2057.avif");
*/
}

.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  background-image: url("kuvat/output-onlinepngtools.png");
  background-size: 400px;
  
 }
 
 img {
  max-width: 500px;
  max-height: auto;
  border-radius: 30px;
  
 }

.reuna{

}

.image{
  margin: 10% 15% 15% 10%;
}
 
.text{
  margin-left: 150px;
  width: 400px;
}

.tomato{
  height: auto;
  width: 16%;
  position: absolute;
  right: 370px;
  top: 400px;


}


#buffer{
background-color:grey;
height: 100px;
width:  100%;

}


